@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Protest+Strike&display=swap');

body {
    background: linear-gradient(to right, #111, #000, #111);
    display: flex;
    justify-content: center;
}

#cnvs {
    color: white;
    background-color: white;
    border: .5px dashed black;
}